# Kopiraj ovaj fajl u .env i popuni sa podacima iz svog Supabase projekta
# Settings -> API u Supabase dashboardu

VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
